<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.CompanyInfoMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.CompanyInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="licence_num" property="licenceNum" jdbcType="VARCHAR" />
    <result column="computer_num" property="computerNum" jdbcType="VARCHAR" />
    <result column="tax_password" property="taxPassword" jdbcType="VARCHAR" />
    <result column="client_path" property="clientPath" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from company_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.CompanyInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into company_info (company_name, licence_num, computer_num, 
      tax_password, client_path, remarks
      )
    values (#{companyName,jdbcType=VARCHAR}, #{licenceNum,jdbcType=VARCHAR}, #{computerNum,jdbcType=VARCHAR}, 
      #{taxPassword,jdbcType=VARCHAR}, #{clientPath,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.CompanyInfo" >
    update company_info
    set company_name = #{companyName,jdbcType=VARCHAR},
      licence_num = #{licenceNum,jdbcType=VARCHAR},
      computer_num = #{computerNum,jdbcType=VARCHAR},
      tax_password = #{taxPassword,jdbcType=VARCHAR},
      client_path = #{clientPath,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, company_name, licence_num, computer_num, tax_password, client_path, remarks
    from company_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, company_name, licence_num, computer_num, tax_password, client_path, remarks
    from company_info
  </select>
</mapper>