.layui-layer-dialog{
    width:392px;
}

.photo {
    width: 97%;
    height: 680px;
    float: left;
    margin: 10px 20px;
}

.imagetable {
    width: 100%;
    height: 580px;
}

.input {
    clear: both;
    height: 170px;
    width: 100%;
}

.layui-form-label {
    width: 160px;
}

.print {
    width: 110px;
    height: 47px;
    font-size: 16px;
    margin-left: 50px;
}

.layui-field-title {
    margin: 5px;
}

#configure {
    float: left;

}

.carouselImg {
    width: 760px;
    height: 520px;
    margin-left: 70px;
    margin-bottom: 15px;
}
.carouselLabel{
    padding:8px 10px 8px 50px;
}
.configInput {
    width: 135%;
}

.borderRed {
    border: 1px #FF5722 solid;
}

#content {
    width: 100%;
    height: 700px;
}

#businessfile {
    height: 700px;
}

#photolist {
    height: 850px;
    border: #C1C1C1 solid 1px;
    overflow-y: auto;
}

#sao {
    height: 40px;
    text-align: center;
    font-family: "微软雅黑";
    line-height: 40px;
    font-size: 18px;
    margin: 10px;
}

.file {
    height: 215px;
    margin: 10px;
    border: #C1C1C1 solid 1px;

}

.filelist {
    width: 60%;
    height: 100px;
    float: left;
    margin: 10px;
}

.type {
    width: 20%;
    height: 30px;
    float: left;
    margin: 10px;
}

.typelabel {
    width: 100px;
    text-align: left;
    padding: 4px;
}

.remark {
    margin-right: 5px;
    font-size: 16px;
    color: #FD3D4C !important;
}

.label {
    float: left;
    width: 148px;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}

.table {
    margin-left: 10px;
    float: left;
    width: 98%;
}

.layui-textarea {
    min-height: 80px;
}

#tablelist {
    height: 700px;
    overflow-y: auto;

}

.imgdiv img {
    width: 142px;
    height: 100px;
}

.imgdiv {
    float: left;
    padding: 6px;
    text-align: center;
}

.buttondiv {
    height: 70px;
    padding-top: 20px;
    float: right;
    margin-right: 70px;
}

.inputDiv {
    padding: 7px 20px;
    font-size: 16px;
}

.layui-col-md3 {
    width: 26%;
}

.layui-col-md9 {
    width: 74%;
}

.tableInput {
    width: 100%;
    /* border: 0px;outline:none;cursor: pointer;*/
}

.mytable {
    margin-top: 8px;
}

.mytable thead tr td {
    padding-left: 10px;
}

.mytable tr {
    height: 38px;
    width: 100%;
}

.mytable tr td {
    border: #e6e6e6 solid 1px;
}

.transparent_class {
    filter: alpha(opacity=50);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}

.printLable {
    text-align: center;
    padding-top: 8px;
    border: 1px solid #C9C9C6;
    width: 88%;
    margin: 25px;
    height: 355px;
}

.inputphotoclass {
    border: 0px;
    outline: none;
    cursor: pointer;
    width: 185px;
    text-align: center;
}