<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport"
	  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>对话框配置界面</title>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/jquery-3.2.1.js}"></script>
<script th:src="@{/js/jquery-migrate-1.1.0.js}"></script>

</head>
<style>
	.layui-circle{
		width: 130px;
		height: 130px;
		border: red solid 2px;
		text-align: center;
		line-height: 130px;
		margin-left: 225px;
		margin-top: 200px;
		float:left;
		font-size: 24px;
	}

	.tip{
		padding-top:130px;
		padding-right:70px;
		clear:both;
		text-align:right;
	}
	.tip1{
		padding-top:20px;
	}
	embed{
		width:100%;
	}
</style>
<script>
	function companyInfoDeploy(){
		window.location.href='/companyInfo/getList'
	}
	function dialogDeploy(){
		window.location.href='/dialog/getList'
	}
</script>
<body class="layui-layout-body">
<div id="logo">
<img th:src="@{/images/logo.png}">
</div>
<div id="content">
	<div style="padding: 10px;">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md4">
				<div id="business1" class="layui-circle" onclick="companyInfoDeploy()">
					文件管理
				</div>
			</div>
			<div class="layui-col-md4">
				<div id="business2" class="layui-circle" onclick="dialogDeploy()">
					对话框配置
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
